.c9/
.vscode/
.settings/
src/main/webapp/libs/
node_modules/
bower_components/
logs/*
arch/
dist/
target/
temp/
!.gitkeep
.project
.classpath
.DS_Store
.idea
*.sublime-project
*.sublime-workspace
tmp
app/jspm_packages
